/* ############################## */
/* Reset css */ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div {
  display: block;
}
/* ############################## */
/* Main layout css */
#wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  transform-origin: 0 0;
}
#sectionLeft {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 70%;
  min-width: 100px;
  height: 100%;
}
#dividerRight {
  width: 16px;
  height: 100%;
  background-color: black;
  position: absolute;
}
.dividerRight {
  right: 400px;
}
#dividerStore {
  width: 100%;
  height: 16px;
  background-color: black;
}
#trainAnchor {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 20%;
}
#train {
  position: absolute;
  cursor: pointer;
  width: 200px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -100px;
  border-style: solid;
  border-width: 1px;
}
#sectionRight {
  position: absolute;
  right: 0px;
  top: 0px;
  min-width: 100px;
}
/* ############################## */
/* Tooltip related css */ 
#tooltipAnchor {
  position: absolute;
  z-index: 100;
}
#tooltipItem {
  position: relative;
  min-width: 320px;
}
.tooltipIcon {
  width: 48px;
  height: 48px;
  margin-left: -8px;
  margin-top: -8px;
  margin-right: 8px;
  display: inline-block;
}
.tooltipHeader {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 3px 3px;
}
.tooltipDesc {
  font-family: Arial;
  font-size: 12px;
  text-align: right;
  padding: 3px 3px;
  margin: 4px 0px;
}
.tooltipStats {
  font-family: Arial;
  font-size: 10px;
  padding: 3px 3px;
  margin: 0px 0px 0px 8px;
}
.tooltipLine {
  background: linear-gradient(to right,
              rgb(255, 255, 255),
              rgb(0, 0, 0),
              rgb(255, 255, 255));
  height: 1px;
  width: 100%;
  margin: 4px auto;
  position: relative;
}
.tooltipShortLine {
  background: linear-gradient(to right,
              rgb(255, 255, 255),
              rgb(0, 0, 0),
              rgb(255, 255, 255));
  height: 1px;
  width: 86%;
  margin: 4px auto;
  margin-left: 44px;
  position: relative;
}
.tooltipTag {
  display: inline-block;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  padding: 0px 3px;
  opacity: 0.75;
}
/* ############################## */
/* Store related css */
#store {
  position: relative;
}
#items {
  position: relative;
  width: 400px;
}
#upgrades {
  width: auto;
  height: 48px;
}
/* ############################## */
/* Item Store related css */ 
.storeItem {
  height: 64px;
  width: 398px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
}
.storeIcon {
  width: 64px;
  height: 64px;
  margin-right: 8px;
  display: inline-block;
}
.storeContent {
  top: 8px;
  left: 64px;
  right: 0px;
  bottom: 8px;
  position: absolute;
}
.storeHeader {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 3px 3px;
}
.storeDesc {
  font-family: Arial;
  font-size: 12px;
  padding: 3px 3px;
}
.storeOwned {
  font-family: Arial;
  font-size: 40px;
  position: absolute;
  right: 8px;
  top: 4px;
}
/* ############################## */
/* Item Upgrade related css */ 
.upgradeItem {
  height: 48px;
  width: 48px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.upgradeIcon {
  width: 48px;
  height: 48px;
  display: inline-block;
}
/* ############################## */
/* Old Design related css */ 
.div-upgrade {
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: relative;
  border-style: solid;
  border-width: 1px;
  float: left;
}
.div-purchaseContent {
  top: 10px;
  left: 0px;
  right: 0px;
  position: relative;
}
.div-upgradeIcon {
  width: 48;
  height: 48;
  top: 0;
  left: 0;
  position: absolute;
}
.div-itemCost {
  position: relative;
}
.div-itemOwned {
  position: absolute;
  right: 10px;
}
.div-itemIcon {
  width: 64px;
  height: 64px;
  top: 0;
  left: 0;
  position: absolute;
}
.div-upgradeIcon {
  width: 48;
  height: 48;
  top: 0;
  left: 0;
  position: absolute;
}
.div-itemName {
  position: relative;
}
.div-itemCost {
  position: relative;
}
.div-itemOwned {
  position: absolute;
  right: 10px;
}
/* ############################## */
/* General purpose css */
.border {
  padding: 16px;
  border: 4px solid black;
  border-radius: 4px;
  margin: 4px;
}
.div-icon {
  width: 64px;
  height: 64px;
  margin: 0px 4px;
  display: inline-block;
}
.div-name {
  font-weight: bold;
  font-weight: 110%;
  margin: 4px 4px;
}
.div-desc {
  margin: 4px 4px;
}
.div-addDesc {
  font-size: 90%;
  padding: 2px 2px;
}