/* ############################## */
/* Reset css */ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div {
  display: block;
}
/* ############################## */
/* Main layout css */
#wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  transform-origin: 0 0;
}
#sectionLeft {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 400px;
  min-width: 100px;
  height: 100%;
}
#sectionRight {
  position: absolute;
  right: 0px;
  top: 0px;
  min-width: 100px;
}
#dividerRight {
  width: 16px;
  height: 100%;
  background-color: black;
  position: absolute;
  right: 384px;
}
.dividerHorizontal {
  width: 100%;
  height: 16px;
  background-color: black;
}
.sectionHeader {
  width: auto;
  height: 64px;
}
.sectionBigHeader {
  width: auto;
  height: 96px;
}
.sectionMiniheader {
  width: auto;
  height: 16px;
}
/* ############################## */
/* Train related css */
#trainPower {
  position: relative;
  top: 2%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 8px 0px;
}
#trainAnchor {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 20%;
}
#train {
  position: absolute;
  cursor: pointer;
  width: 200px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -100px;
  border-style: solid;
  border-width: 1px;
}
#ascend {
  position: relative;
  float: right;
  border-style: solid;
  border-width: 1px;
  font-family: Arial;
  font-size: 16px;
  width: 100px;
  height: 48px;
}
.ascendHeader {
  text-align: center;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}
#ascendBarContainer {
  position: absolute;
  width: 98px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.barContainer {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  height: 8px;
}
.bar {
  background: url(Images/ascendBar-placeholder.png) 0px 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100%;
  max-width: 100%;
}
.button {
  cursor: pointer;
}
.button.selected {
  font-weight: bold;
}
/* ############################## */
/* Store related css */
#store {
  position: relative;
}
#upgrades {
  position: relative;
  width: 384px;
  height: 48px;
  overflow: hidden;
}
#upgrades:hover {
  height: auto;
  min-height: 48px;
}
#storeBulk {
  width: 336px;
  height: 32px;
  padding: 0px;
  padding-left: 48px;
  position: relative;
}
.storeSection {
  width: 384px;
  position: relative;
  overflow-y: hidden;
}
#storeBulkBuy {
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
}
#storeBulkSell {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center;
}
.storeBulkMode {
  float: left;
  height: 16px;
  width: 48px;
}
.storeBulkAmount {
  float: left;
  text-align: center;
  width: 32px;
  padding: 9px 0px;
}
/* ############################## */
/* Item Store related css */ 
.itemContainer {
  position: relative;
  width: auto;
  height: 66px;
  overflow: hidden;
}
.itemContainer:hover {
  height: auto;
  min-height: 66px;
}
.item {
  height: 64px;
  width: auto;
  cursor: pointer;
  position: relative;
  border-style: solid;
  border-width: 1px;
  opacity: 0.5;
}
.itemIcon {
  width: 64px;
  height: 64px;
  margin-right: 8px;
  display: inline-block;
}
.itemContent {
  top: 8px;
  left: 64px;
  right: 0px;
  bottom: 8px;
  position: absolute;
}
.itemHeader {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 3px 3px;
}
.itemDesc {
  font-family: Arial;
  font-size: 12px;
  padding: 3px 3px;
}
.itemOwned {
  font-family: Arial;
  font-size: 40px;
  position: absolute;
  right: 8px;
  top: 4px;
}
.itemChild {
  height: 32px;
  width: auto;
  cursor: pointer;
  position: relative;
  border-style: solid;
  border-width: 1px;
  opacity: 0.5;
}
.itemChildIcon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  display: inline-block;
}
.itemChildContent {
  top: 8px;
  left: 32px;
  right: 0px;
  bottom: 8px;
  position: absolute;
}
.itemChildHeader {
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 3px;
}
.itemChildOwned {
  font-family: Arial;
  font-size: 20px;
  position: absolute;
  right: 8px;
  top: 0px;
}
.item.enabled {
  opacity: 1;
}
.itemChild.enabled {
  opacity: 1;
}
/* ############################## */
/* Item Upgrade related css */ 
.upgradeItem {
  height: 48px;
  width: 48px;
  cursor: pointer;
  position: relative;
  display: inline;
  opacity: 0.5;
}
.upgradeIcon {
  width: 48px;
  height: 48px;
}
.upgradeItem.enabled {
  opacity: 1;
}
/* ############################## */
/* General purpose css */
.border {
  padding: 16px;
  border: 4px solid black;
  border-radius: 4px;
  margin: 4px;
}
.header {
  font-family: Arial;
  font-size: 36px;
  font-weight: bold;
}
.miniHeader {
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
}
/* ############################## */
/* Tooltip related css */ 
#tooltipAnchor {
  position: absolute;
  z-index: 100;
}
#tooltipItem {
  position: relative;
  min-width: 320px;
}
.tooltipIcon {
  width: 48px;
  height: 48px;
  margin-left: -8px;
  margin-top: -8px;
  margin-right: 8px;
  display: inline-block;
}
.tooltipHeader {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 3px 3px;
}
.tooltipDesc {
  font-family: Arial;
  font-size: 12px;
  text-align: right;
  padding: 3px 3px;
  margin: 4px 0px;
}
.tooltipStats {
  font-family: Arial;
  font-size: 10px;
  padding: 3px 3px;
  margin: 0px 0px 0px 8px;
}
.tooltipLine {
  background: linear-gradient(to right,
              rgb(255, 255, 255),
              rgb(0, 0, 0),
              rgb(255, 255, 255));
  height: 1px;
  width: 100%;
  margin: 4px auto;
  position: relative;
}
.tooltipShortLine {
  background: linear-gradient(to right,
              rgb(255, 255, 255),
              rgb(0, 0, 0),
              rgb(255, 255, 255));
  height: 1px;
  width: 86%;
  margin: 4px auto;
  margin-left: 44px;
  position: relative;
}
.tooltipTag {
  display: inline-block;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  padding: 0px 3px;
  opacity: 0.75;
}